
div#album{
	display: inline-block;
	background-color: Beige;
	width: 100%;
	overflow: auto;
	max-width: 100%;
	min-height: 220px;
	
}
div#album div{
	float: left;
	border: thin silver solid;
	overflow: hidden;
	width: 22%;
	margin: 0.5em;
	padding: 0.5em;
}
div#album div:hover{
	border: thin black groove;
	box-shadow: 0 3px 5px 0 #777;
}
div#album img{
	width: 100%;
	height: 100%;
}

div#album p{
	font-style: italic;
	text-align: center;
	margin: 3px;
}
 div#album summary {
 	
	font-style: italic;
	font-size: 20px;
 }